$border-color: #eaeaea;
$box-padding: 16px;

* {
    box-sizing: border-box;
}

.box {
    display: inline-flex;
    flex-direction: column;
    height: 410px;
    width: 370px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 2px solid $border-color;

    &__header {
        height: 45px;
        padding: 20px $box-padding 7px;
        font-weight: 900;
    }

    &__content {
        padding: 0 $box-padding;
        flex-grow: 1;

        &__summary__title {
            height: 25px;
            color: #8e908f;
        }

        &__summary__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            padding: 0 3px;

            &__item {
                text-align: center;

                div:nth-child(1) {
                    background-color: #bf4230;
                    color: white;
                    display: inline-block;
                    line-height: 25px;
                    border-radius: 25px;
                    width: 60px;
                    height: 25px;
                    font-weight: 600;
                    font-size: 12px;
                }

                div:nth-child(2) {
                    margin-top: 10px;
                    font-weight: 600;
                    font-size: 13px;
                }
            }
        }

        &__details__item {
            border-left: 4px solid #cc442a;
            margin-bottom: 12px;
            padding: 0 7px;

            span:nth-child(1) {
                color: #0a324c;
                font-weight: 900;
            }

            span:nth-child(2) {
                color: #414141;
            }
        }
    }

    &__footer {
        height: 58px;
        padding: 0 $box-padding;
        display: flex;
        align-items: center;
        border-top: 2px solid $border-color;

        a {
            text-decoration: none;
            color: #607a87;
 
        }
    }
}
